name: Build and Release Latest

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '*.md'
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # GITHUB_TOKEN ile release güncellemeleri için gerekli izin

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: wrapper

      - name: Build ShadowJar
        run: |
          chmod +x gradlew
          ./gradlew server:shadowJar

      - name: Rename JAR to allayplus-server-latest.jar
        run: |
          # Oluşturulan shaded jar dosyasını bul ve ismini değiştir
          find server/build/libs -name "allayplus-server-*-shaded.jar" -exec mv {} server/build/libs/allayplus-server-latest.jar \;
          echo "JAR renamed successfully."

      - name: Upload to 'latest' Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Build
          body: "Automated build from master branch."
          files: server/build/libs/allayplus-server-latest.jar
          make_latest: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}